/*
*
*   App.js
*
*/
body {
  background-color: rgb(48, 48, 48);
  color: rgb(197, 197, 197);
  font-family: Roboto;
  height: 100%;
}

.main-container {
  display: flex;
  flex-direction: row;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.gutter {
  display: flex;
  flex: 1 0 0;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 6 0 0;
  align-items: center;
}

.timers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 3rem;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-timer-btn {
  margin-bottom: 1rem;
}


/*
*
*   stopwatch.js
*
*/
.timer-container {
  border-radius: .5rem;
  background-color: rgb(28, 28, 28);
  padding: 2rem 2rem 1rem 2rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer-time-container {
  margin-bottom: 1rem;
}

.timer-time {
  font-size: 5rem;
}

.timer-title-container {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.timer-title-container input {
  font-size: 1.5rem;
  width: 50%;
}

.timer-controls-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.timer-controls-main-btn {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 700px) {
  .timer-time {
    font-size: 4rem;
  }
}